<footer>
  <link rel="shortcut icon" href="img/favicon.ico">
  <div>
    <!--<iframe src="https://ghbtns.com/github-btn.html?user=developerjx&repo=cellbox&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe><iframe src="https://ghbtns.com/github-btn.html?user=developerjx&repo=cellbox&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>-->
    <iframe src="https://ghbtns.com/github-btn.html?user=developerjx&type=follow&count=true" frameborder="0" scrolling="0" width="180px" height="20px"></iframe>
  </div>
  <div>
    &copy; {{ site.time | date: '%Y' }} / <a href="http://developer.github.io">{{ site.owner.name }} Blog</a> 采用 <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享 署名-非商业性使用-相同方式共享 4.0 国际</a> 许可协议。<br>允许保持署名及原文链接转载，不得用于商业目的。 <i class="fa fa-heart heart-icon"></i>
  </div>
</footer>
