<footer>
  <div>
    <iframe src="https://ghbtns.com/github-btn.html?user=renyuanz&repo=leonids&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=renyuanz&repo=leonids&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=developerjx&type=follow&count=true" frameborder="0" scrolling="0" width="180px" height="20px"></iframe>
  </div>
  <div>
    &copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}. <i class="fa fa-heart heart-icon"></i>
  </div>
</footer>
